



.modal.modal-steps .modal-header {
    padding: 0;
    border-bottom: 0;
}

.modal.modal-steps .modal-steps-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal.modal-steps .modal-steps-list .modal-step {
    text-align: center;
    flex: 1 0 0px;
    border-bottom: 2px solid #dee2e6;
    padding: 1rem 0;
}

.modal.modal-steps .modal-steps-list .modal-step h1,
.modal.modal-steps .modal-steps-list .modal-step h2,
.modal.modal-steps .modal-steps-list .modal-step h3,
.modal.modal-steps .modal-steps-list .modal-step h4,
.modal.modal-steps .modal-steps-list .modal-step h5,
.modal.modal-steps .modal-steps-list .modal-step h6 {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    font-weight: bold;
}

.modal.modal-steps .modal-steps-list .modal-step p {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
}

.modal.modal-steps .modal-steps-list .modal-step.step-active {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.modal.modal-steps .modal-step-body {
    display: none;
}

.modal.modal-steps .modal-step-body.step-active {
    display: block;
}